@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
	background-color: #45D1ff;
	font-family:'Arvo', serif;
}
#wrapper{
	width:960px;
	margin:0 auto;
	border: 2px solid black;
}

*,*:before, *:after {
	-moz-box-sizing:
	border-box; -webkit-box-sizing:
	border-box;box-sizing:border-box;
}

body{ margin:0; }

.columnsContainer, header {
	position: relative;
	margin: .5em;
}
footer{
	position:fixed;
	bottom: 0;
	width:100%;
	height: 50px;
}

.about, .motto, footer, header { border: 1px
	solid #ccc; padding: 1.25em; }

	.about { margin-bottom: .5em; }

	.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

	.nav {
		list-style: none;
		margin-left: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

.nav li,.nav > li > a {
	display: inline-block;
	/*#display: inline;*/
	margin-right:5px;
}

.inline-items {
	margin-top: 0;
	width: 50%;
}

.inline-items li {
	margin-left: 0;
	border-left: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.inline-items li:first-child {
	margin-left: 0;
	border: none;
	padding-left: 0;
	padding-right: 10px;
}

.inline-items li:last-child {
	padding-right: 0;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
}

.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 70%;
}


.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 10px;

}

h1{
	text-align: center;
	color: white;
	font-family:'Arvo', serif;
	font-weight:bold;
	text-transform:uppercase;
}

h2{
	text-align: center;
}

h2{
	font-style: italic;
	font-weight: normal;
}

img{
	display: block;
	margin: 0 auto;
	width: 50%;
}


p{
	color:white;
	font-family:'Shadows Into Light', serif;
}
@media only screen and (max-width: 329px) {
	body{
		font-size: 24px;
	}
}
	
