body {
	background-color: #45D1ff;
	border-image-width: center
}
h1,h2{
	text-align: center;
	color: white;
	font-family:Arial, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
p{
	color:white;
	font-family:Arial, sans-serif;
	font-weight:normal;
}	

a
	font-style:italic
	text-decoration: none;
